body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1, h2, h3 {
    color: #333;
}

code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    border: 1px solid #ddd;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
    margin-bottom: 20px;
}

output {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

